.idea/**/workspace.xml
.parcel-cache/*
.github/*
.fleet/*
node_modules/
src/
coverage/
**/__tests__/
*.test.ts
*.spec.ts
tsconfig.json
jest.config.ts
.eslintrc*
.prettier*
.git*
scripts/
*.log
.vscode/
.DS_Store

# Documentation
docs/
.vitepress/
*.md
!README.md
